@page
@model AppointmentSystem.Pages.Admin.Slots.DetailsModel

@{
    ViewData["Title"] = "Детали";
}

<h1>Детали</h1>

<div>
    <h4>Прием</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentSlot.Doctor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppointmentSlot.Doctor.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentSlot.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppointmentSlot.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentSlot.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppointmentSlot.EndTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AppointmentSlot.Id">Редактировать</a> |
    <a asp-page="./Index">Назад к списку</a>
</div>
