@page
@using System.Globalization
@model AppointmentSystem.Pages.Admin.Appointments.IndexModel
@{
    ViewData["Title"] = "Записи";
    var culture = new CultureInfo("ru-RU");
}

<h1>Список записей</h1>

@foreach(var appointment in Model.Appointments)
{
    <div class="card text-white bg-info mb-3">
        <div class="card-header">@appointment.Slot.Doctor.FullName</div>
        <div class="card-body">
            <h5 class="card-title">@appointment.Slot.Doctor.Category.Name</h5>
            <p class="card-text"><b>@appointment.Slot.StartTime.ToString("HH:mm")</b>,  @appointment.Slot.StartTime.ToString("dd MMMM yyyy", culture)</p>
            <p class="card-text">@appointment.User.Phone.Formatted</p>
        </div>
    </div>
}